<div *ngIf="issue" class="col-md-6 col-md-offset-3">
  <h3>Проект: {{issue.name}}</h3>
  <button class="btn btn-success" (click)="createIssue()">Задачи проекта</button>
  <button class="btn btn-info" [routerLink]="['/issues/form', issue.id]">Изменить проект</button>
  <button class="btn btn-danger" (click)="delete()">Удалить проект</button>

  <div class="issue_block">
    <ul>
      <li>
        <label>URL адрес:</label>
        <a href="{{issue.url}}">{{issue.url}}</a>
      </li>
      <li>
        <label>Описание</label>
        <p>{{issue.description}}</p>
      </li>
    </ul>
  </div>
</div>