<div class="col-md-4">
    <div class="thumbnail">
        <img alt="Bootstrap Thumbnail First" src="assets/img/project-600-200.jpg"/>
        <div class="caption">
            <h3>Последние проекты</h3>
            <p>
                <button [routerLink]="['/projects']" class="btn">Все проекты</button>
                <a class="btn" href="#">База знаний</a>
            </p>
            <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
                metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="thumbnail">
        <img alt="Bootstrap Thumbnail Second" src="assets/img/checklist-600-200.jpg"/>
        <div class="caption">
            <h3>Последние задачи</h3>
            <p>
                <button [routerLink]="['/issues']" class="btn">Все задачи</button>
                <a class="btn" href="#">База знаний</a>
            </p>
            <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
                metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="thumbnail">
        <img alt="Bootstrap Thumbnail Third" src="assets/img/statistic-600-200.jpg"/>
        <div class="caption">
            <h3>Статистика</h3>
            <p>
                <button [routerLink]="['/statistic']" class="btn">Детально</button>
                <a class="btn" href="#">База знаний</a>
            </p>
            <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
                metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
        </div>
    </div>
</div>
