<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Открыть</span><span class="icon-bar"></span>
            <span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">team.WP-INGENIUM</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav">
            <li class="active">
              <a href="/projects">Проекты <span class="badge">3</span></a>
            </li>
            <li>
              <a href="#">Сообщения <span class="badge">1</span></a>
            </li>
            <li class="dropdown">

              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Уведомления <span class="badge">2</span><strong class="caret"></strong>
              </a>

              <ul class="dropdown-menu">

                <li class="divider"></li><li>
                  <a href="#">
                    Инженер <strong>Олег</strong> оценил задачу <strong>Оптимизировать сайт</strong> (проект <strong>project.com</strong>)
                  </a>
                </li><li class="divider"></li>

                <li class="divider"></li><li>
                  <a href="#">
                    Инженер <strong>Кирилл</strong> написал предложение к проекту <strong>project.com</strong>
                  </a>
                </li><li class="divider"></li>

              </ul>
            </li>
          </ul>

          <form *ngIf="showSearch" class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" size="45" placeholder="Искать в базе знаний или отправить в техподдержку"/>
            </div>
            <button type="submit" class="btn btn-default">Готово</button>
          </form>

          <span style="position:absolute;right:5px;" class="profile">
            <img src="assets/img/default-user.png" style="width: 40px; height: 40px; border-radius: 20px;" />
            <a href="#">customer.name</a>
            <button [routerLink]="['/login']" type="button" class="btn btn-sm btn-xs">Выход</button>
          </span>
        </div>
      </nav>

      <ul class="breadcrumb">
        <li>
          <a href="/">Панель виджетов</a>
        </li>
        <li>
          <a href="/">Виджеты</a>
        </li>
      </ul>

      <alert></alert>

      <div class="page-header">
        <h1>Панель виджетов <small>основные управляющие элементы интерфейса</small></h1>
      </div>

      <div class="row">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</div>

<!-- credits -->
<footer class="footer text-center">
  <p>
    <a href="http://wp-ingenium.com" target="_top">WP-INGENIUM.COM</a>
  </p>
  <p>
    Ваши проекты в надёжных руках
  </p>
</footer>